<div class="col-md-5">
    <div class="card">
        <img class="card-img-top top-article"
             src="https://cdn-images-1.medium.com/max/2000/1*T8pvWkvJcCAhB5_guUL5ug.jpeg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text text-muted">Some quick example text to build on the card title and make up the bulk of
                the card's
                content.</p>
            <h6>Di: <b>Anrdej Klauski</b></h6>
            <h6 class="text-muted">22/10/2018</h6>
        </div>
    </div>
</div>
