<footer style="background-color: #365897; margin-top: 300px; color: #ffffff">
    <div class="container-fluid">
        <div class="row p-sm-4">
            <div class="col-md-2">
                <h6 class="text-uppercase font-weight-bold">Contattaci</h6>
                <ul class="list-unstyled">
                    <li><b>Mail: </b>roba@ieee.org</li>
                    <li><b>Capo: </b>roba2@ieee.org</li>
                    <li><b>Altro:</b>altro@ieee.org</li>
                </ul>

                <div class="social-icons">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item">
                            <a href="" class="text-white"><i class="fab fa-github"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="" class="text-white"><i class="fab fa-facebook-square"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="" class="text-white"><i class="fab fa-instagram"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="" class="text-white"><i class="fab fa-twitter"></i></a>
                        </li>
                    </ul>


                </div>
            </div>
            <div class="col-md-2">
                <h6 class="text-uppercase font-weight-bold">Passa a trovarci</h6>
                <p>Tutti i giovedì sera in dipartimento!</p>
            </div>

            <div class="col-md-4 offset-md-4">
                <h6 class="text-uppercase font-weight-bold">Lasciaci la tua mail</h6>
                <p class="font-italic font-weight-light">Non ti invieremo messaggi...</p>
                <form class="form-inline">

                    <label class="sr-only" for="inlineFormInputGroupUsername2">Username</label>
                    <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">@</div>
                        </div>
                        <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="">
                    </div>

                    <button type="submit" class="btn btn-dark mb-2">Submit</button>
                </form>
            </div>
        </div>
    </div>
</footer>