<nav class="navbar navbar-expand-lg bg-white mb-3">
    <a class="logo navbar-brand" href="#">STB1019</a>
    <div class="collapse navbar-collapse d-flex justify-content-end">
        <form class="form-inline my-2 my-lg-0">
            <a href="#">
                <button class="btn flat btn-outline-primary my-2 my-sm-0" type="submit">Sign In</button>
            </a>
        </form>
    </div>
</nav>

<nav class="navbar-nav mb-5">
    <div class="d-flex justify-content-around">
        <a class="text-dark" href="#">Notizie</a>
        <a class="text-muted" href="#">Comunicati</a>
        <a class="text-muted" href="#">Eventi</a>
        <a class="text-muted" href="#">Progetti</a>
        <a class="text-muted" href="#">Membri</a>
        <a class="text-muted" href="#">Contatti</a>
    </div>
</nav>
