<div class="container-fluid">
    <div class="card-deck m-lg-4">


        {% for article in articles %}
            {% if article.index == 0 or article.index == 4 %}
                {% include "website/component/card.html" with article=article %}
            {% else %}

                {% if article.index == 1 %}
                    <div class="card">
                    <ul class="list-unstyled">
                {% endif %}

            {% include "website/component/small_card.html" with article=article %}

            {% if article.index == 3 %}
                </ul>
                </div>
            {% endif %}

            {% endif %}
        {% endfor %}
    </div>
</div>